[submodule "AswinBlue.github.io"]
	path = AswinBlue.github.io
	url = https://github.com/AswinBlue/AswinBlue.github.io
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/AswinBlue/AswinBlue.github.io
	branch = master
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/AswinBlue/hugo-PaperMod